{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block "title" %}
        
    {% endblock "title" %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
      nav{
        background-image: linear-gradient(to bottom , rgb(220,218,254) , rgb(181,176,242));
      }
      button{
        background-color: purple;
        color:wheat
      }
    </style>
</head> 
<body background="{% static 'backgroundpic.avif' %}" style="background-size: cover;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">E-Comm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            
            {% if 'admin' in request.session.usertype %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="showusers">User List</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Product Category
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="addprocat">Add Product Category</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="showprocat">Product Category List</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="showorder">View All Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="showcomps">View All Compalints</a>
            </li>
            {% endif %}
            
            {% if 'seller' in request.session.usertype %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="addpro">Add Product</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="showproduct">Product List</a></li>
              </ul>
            </li>
            {% endif %}
            {% if 'buyer' in request.session.usertype %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Shop
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="srch">Search Product</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="showcart">View Cart</a></li>
                <li><a class="dropdown-item" href="showorder">View Order</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Complaint
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="addcomp">Make Compalint</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="showcomps">Complaint List</a></li>
              </ul>
            </li>

            {% endif %}
            
          </ul>
          
          {% if request.session.username %}
              <h4 style="text-align:right;color:white;position:absolute;right:200px;text-decoration:underline">Welcome : {{ request.session.username  }}</h4>
              <a href="{% url 'logouts' %}"><button class="btn btn-danger" type="submit">Logout</button></a>
          {% else %}  
              <a href="{% url 'login' %}"><button class="btn btn-warning" type="submit">Login</button></a>
          {% endif %}
            
          
         
        </div>
      </div>
    </nav>
      {% block 'body' %}
        
      {% endblock 'body' %}
        
</body>
</html>