{% extends 'base.html' %}


{% block 'body' %}
<h3>Your Order List</h3>
<form method="post">
    {% csrf_token %}
<table class="table table-center text-center" style="margin: 20px;">
<thead>
    <tr>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Amount</th>
        <th>User ID</th>
    </tr>
</thead>
<tbody>
    {% for dt in mydata %}
    <tr>
        <td>{{ dt.ordid }}</td>
        <td>{{ dt.orddt }}</td>
        <td>{{ dt.amount }}</td>
        <td>{{ dt.userid }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>
{% endblock 'body' %}
    